.form-background-contaiener {
  overflow: hidden;
  width: 100%;
}
.form-background {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  filter: blur(5px);
}
.form-container {
  width: 32%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
.form-content {
  width: 80%;
  margin: auto;
}
.form-content button {
  margin: auto;
}
.input-error {
  border-color: red !important;
}
.login-form{
  height: 75vh;
}
.form-container a{
text-decoration: none;
cursor: pointer;
}

@media (max-width: 1200px) {
  .form-container,.login-form {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .form-container,.login-form {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .form-container,.login-form {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .form-container,.login-form {
    width: 100%;
    height: 100vh;
  }
}
