.profile-body{
  background-color: var(--gray);
  }
.approvedreqs-page {
  margin-top: 100px;
  margin-left: 15%;
}
.doctor-cards {
  border-radius: 30px;
  box-shadow: rgba(82, 164, 222, 0.321) 0px 2px 8px 0px;
  height: 170px;
}
.doctor-cards p {
  color: black;
}
.doctor-cards-con img {
  width: 50px;
}
.Patient-info-sec {
  width: 63%;
  border-radius: 30px;
  padding-bottom: 150px;
  transform: translate(15px, -120px);
}
.patient-profile-title::after {
  content: "";
  display: block;
  width: 65px;
  border-bottom: 3px solid black;
  margin-top: 5px;
}
.approve-patient-btns button {
  border: none;
  height: 35px;
  width: 90px;
  border-radius: 30px;
}
.patient-profile-img {
  width: 210px;
  height: 210px;
  overflow: hidden;
  background-color: var(--gray);
  padding: 0;
}
.patient-profile-img img {
  width: 210px;
  height: 210px;
  object-fit: cover; /* Ensures the image covers the entire container */
  object-position: center center; /* Centers the image within the container */
}
.add-medical-history input {
  width: 50%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(157, 157, 157);
}
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
/* remove it in responsive */
transform: translateX(10px);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding-bottom: 10px;
  padding-bottom: 40px;
  border-radius: 15px;
  transition: transform .5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.react-calendar:hover{
  transform: scale(1.01);
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background:  #0560fc46;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
@media (max-width: 992px) {
  .approvedreqs-page {
    margin-left: 3%;
  }
}
@media (max-width: 768px) {
  .patient-profile-img {
    margin: auto;
  }
  .Patient-info-sec {
    margin: auto;
    width: 95%;
    transform: translate(-5px, 0px);
    margin-top: 20px;
  }
  .patient-personal-info {
    text-align: center;
  }
  .patient-info {
    margin-left: 15%;
  }
  .approvedreqs-page{
    margin-left: 5%;
    padding-bottom: 200px;
  }
  .patient-info-cards{
    margin-top: 20px;
    width: 95%;
  }
}
@media (max-width: 550px) {
  .patient-info {
    margin-left: 8%;
  }
  .add-medical-history input{
    width: 80%;
    height: 35px;
  }
  .Patient-info-sec {
    width: 100%;
    

  }
  .approvedreqs-page{
    margin-left: 1%;

  }
  .doctor-cards{
margin-left: 5%;
margin-top: 10px;
  }
}
