nav{
  border-bottom: 1px solid white;
  padding: 5px 0;
}
.img-before-scroll{
  filter: brightness(0) invert(1);
}
.navbar-collapse-button{
  margin: 10px;
  height: 40px;
  width: 110px;
  border-radius: 30px;
  background-color: transparent;
  transition: transform 0.5s;
}
.navbar-collapse-button:hover {
  transform: scale(1.07);
}
.navbar-collapse .header-links{
  margin: 0px;
  width: 100px;
}
.border-blue{
  border: 1px solid var(--blue);
}
.border-white{
  border: 1px solid white;
}
.profile-img-btn{
  border-radius: 50%; 
  width: 55px;
  height: 55px; 
  padding: 0; 
  overflow: hidden; 
  border: none;
}
.profile-img-btn img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.doctor-logo{
padding-left: 2%;
}
.doctor-btns{
padding-right: 4%;
}
@media (max-width:992px){
  .navbar-collapse button ,  .navbar-collapse .header-links{
width: 100%;
border: none;
margin: 0px;
height: 30px;
  }
  .navbar-toggler{
  right: 4%;
  }
}
@media (max-width:550px){
  .navbar-toggler{
  right: 8%;
  }
}